body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  .container {
    position: relative;
    width: 70%; /* 70% of viewport width */
    height: 70%; /* 70% of viewport height */
  }
  
  canvas {
    border: 2px solid #fff;
    cursor: crosshair;
    border-radius: 8px;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
  }
  
  .tools {
    position: absolute;
    top: 92%;
    left: 41%;
    display: flex;
  }
  
  button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #777; /* Dark button background color */
    color: #fff; /* Light button text color */
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #999; /* Dark button background color on hover */
  }
  