/* Add your styles for the OFP module here if .left-block-main width <= 556px translate to flex */
@font-face {
    font-family: Code;
    src: url(code_pro.otf);
  }

@keyframes spotlight {
    0%{
        box-shadow:  0px 5px 1px rgba(198, 144, 43, 1);
    }
    50% {
        box-shadow: 0px 15px 10px rgba(198, 144, 43);
    }
    100% {
        box-shadow:  0px 5px 1px rgba(198, 144, 43, 1);
    }
}
@media (max-width : 1570px) {
  .map-block {
    width: 60%;
  }
  .main-block {
    max-width: 60vw;
  }
}

.opened {
  width: 85vw;
    height: 85vh;
    margin: 3% 0%;
}
.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    border: 2px solid #5cbcf2;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.home-button img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.home-button:hover {
    background-color: #5cbcf2;
    border-color: #1e1e1e;
}
body {
    background: #1e1e1e;
    /* padding: 5% 10% 5% 10%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* position: relative; */
  }
  .central-block {
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    /* position: relative; */
  }
  .main-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    max-width: 50vw;
    /* position: relative; */
  }
  .second-info-block {
    background: rgba(15, 15, 15, 0.06);
    border-radius: 8px;
    padding: 2% 2.5%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    /* position: relative; */
    box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 1);
  }
  .top-list-item {
    background: #333333;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    height: 96px;
    /* position: relative; */
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
  }
  .block-fuel {
    color: #ffffff;
    text-align: center;
    font-family: "Code";
    font-size: 15px;
    font-weight: 400;
    /* position: relative; */
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .separator-1 {
    background: #ffb732;
    border-radius: 20px;
    align-self: stretch;
    flex-shrink: 0;
    height: 4px;
    /* position: relative; */
    box-shadow: 0px 0px 5px 1px rgba(198, 144, 43, 1);
  }
  .block-text {
    color: #ffffff;
    text-align: center;
    font-family: "Code";
    font-size: 15px;
    font-weight: 400;
    /* position: relative; */
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .entoute-text {
    color: #ffffff;
    text-align: center;
    font-family: "Code";
    font-size: 15px;
    font-weight: 400;
    /* position: relative; */
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pax-text {
    color: #ffffff;
    text-align: center;
    font-family: "Code";
    font-size: 15px;
    font-weight: 400;
    /* position: relative; */
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .payload-text {
    color: #ffffff;
    text-align: center;
    font-family: "Code";
    font-size: 15px;
    font-weight: 400;
    /* position: relative; */
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .zfw-text {
    color: #ffffff;
    text-align: center;
    font-family: "Code";
    font-size: 15px;
    font-weight: 400;
    /* position: relative; */
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tow-text {
    color: #ffffff;
    text-align: center;
    font-family: "Code";
    font-size: 15px;
    font-weight: 400;
    /* position: relative; */
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-block2 {
    background: rgba(15, 15, 15, 0.06);
    border-radius: 8px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    /* position: relative; */
    box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 1);
  }
  .left-block-main {
    align-self: stretch;
    flex: 1;
    position: static;
  }
  .id-dep-arr-cs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    /* width: 399.5px;
    height: 484px; */
    /*     position: absolute;
    left: 25px;
    top: 25px; */
  }
  .leftmainmenu-item {
    background: #333333;
    border-radius: 8px;
    padding: 5% 5%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 85%;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    /* position: relative; */
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
  }
  .simbrief-id-input {
    color: #f6f4eb;
    padding: 4% 0%;
    font-size: 16px;
    width: 75%;
    background: #1e1e1e;
    border-radius: 5px;
    border-style: solid;
    border-color: #ffb732;
    border-width: 1px;
    align-self: stretch;
    flex: 1;
    text-align: center;
    font-family: 'Code';
    /* position: relative; */
    transition: all 0.5s ease-in-out;
  }

.simbrief-id-input:hover {
    box-shadow: 4px 4px 8px 0px #facc15;
    outline: none;

}
.simbrief-id-input:focus {
    box-shadow: 0px 0px 12px 0px #facc15;
    outline: none;

}
  .load-button {
    align-self: stretch;
    flex: 1;
    position: static;
  }
  .loadbutton {
    height: 100%;
    width: 100%;
    background: #ffb732;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffb732;
    border-width: 1px;
    /* width: 177.25px;
    height: 71.11px; */
    transition: all 0.5s ease-in-out;
    /*     position: absolute; */
    /* left: 207.25px;
    top: 17px; */
  }
  .sync-ofp {
    color: #000000;
    text-align: center;
    font-family: "Code";
    font-size: 15px;
    font-weight: 400;
        /* position: absolute; */
    /* left: 207.25px;
    top: 17.89px; */
    /* width: 177.25px;
    height: 71.11px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .leftmainmenu-item2 {
    background: #333333;
    border-radius: 8px;
    padding: 5% 5%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 85%;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    /* position: relative; */
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
  }
  /* .dep {
    background: #1e1e1e;
    border-radius: 5px;
    border-style: solid;
    border-color: #ffb732;
    border-width: 1px;
    padding: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    /* position: relative; 
  } */

  .get-dep-weather,.get-arr-weather {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    /* position: relative; */
    text-decoration: none;
    
  }
  .plane-icon {
    flex-shrink: 0;
    width: 24px;
    height: 21.97px;
    /* position: relative; */
    overflow: visible;
  }
  .arr, .dep {
    padding: 1.6% 3%;
    background: #1e1e1e;
    border-radius: 5px;
    border-style: solid;
    border-color: #ffb732;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative; 
  }
  .distance-text, 
  .mach-text, .departure-time,  .arrival-time{
    line-height: 1.25;
    margin-top: 0.1em;

  }

  .arrival-icao,  .departure-icao {
    line-height: 1.25;
    margin-top: 0.2em;

  }
  .arrival-icao, .departure-icao{
    display: flex;
    color: #f6f4eb;
    text-align: center;
    font-family: "Code";
    font-size: 16px;
    padding: 4% 2% 3%;
    font-weight: 400;
    width: 85%;
    background: #1e1e1e;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .dist, .mach, .arrtime, .deptime{
    display: flex;
    color: #f6f4eb;
    text-align: center;
    font-family: "Code";
    font-size: 16px;
    padding: 4% 2% 3%;
    font-weight: 400;
    width: 85%;
    background: #1e1e1e;
    border-radius: 5px;
    border-style: solid;
    border-color: #ffb732;
    border-width: 1px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    /* position: relative; */
  }

  .vuesax-linear-info-circle {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    /* position: relative; */
  }
  .vuesax-linear-info-circle2 {
    height: auto;
        /* position: absolute; */
    /* left: 0px;
    top: 0px; */
    overflow: visible;
  }
  .clock {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    /* position: relative; */
    overflow: visible;
  }
  .table {
    align-self: stretch;
    flex: 1;
    position: static;
  }
  .route-table {
    background: #333333;
    border-radius: 8px;
    /* width: 399.5px;
    height: 484px; */
        /* position: absolute; */
    /* left: 449.5px;
    top: 25px; */
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.4);
  }
  .map-block {
    background: #1d1d1d;
    border-radius: 8px;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* position: relative; */
    box-shadow: 3px 4px 17px 0px rgba(15, 15, 15, 1);
  }
  .image-block {
    border-radius: 13px;
    flex-shrink: 0;
    width: 481px;
    height: 600px;
    /* position: relative; */
  }
  .image-control-buttons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* position: relative; */
  }
  .route-button {
    flex-shrink: 0;
    /* width: 194px;
    height: 35px; */
        /* position: absolute; */
    left: calc(50% - 218px);
    top: calc(50% - 17.5px);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle {
    background: #333333;
    border-radius: 10px;
        /* position: absolute; */
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
    box-shadow: 0px 0px 12px 0px rgba(255, 183, 50, 1);
  }
  .vertical-profile {
    color: #ffffff;
    text-align: center;
    font-family: "Code";
    font-size: 14px;
    font-weight: 400;
        /* position: absolute; */
    right: 18.56%;
    left: 18.04%;
    width: 63.4%;
    bottom: 25.71%;
    top: 28.57%;
    height: 45.71%;
  }
  .vertical-profile-button {
    flex-shrink: 0;
    /* width: 194px;
    height: 35px; */
        /* position: absolute; */
    left: calc(50% - -24px);
    top: calc(50% - 17.5px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
.loadbutton:hover {
    background-color: #ffcc66; /* Lighter shade on hover */
    border-color: #e59400; /* Darker shade on hover */
    box-shadow: 0 0 7px #ffb732b8; /* Yellow-Orange box shadow on hover */
}