
@font-face {
    font-family: Code;
    src: url(code_pro.otf);
  }
@media (max-width:890px) {
    .separator-vertical {
        display: none;
    }
}
h1 {
    text-align: center;
}
/* Add this to your CSS file */
.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    border: 2px solid #5cbcf2;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.home-button img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.home-button:hover {
    background-color: #5cbcf2;
    border-color: #1e1e1e;
}

body {
    font-family: 'Code'; /* Change font to "Code" */
    background-color: #1e1e1e;
    color: #F6F4EB;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.5s;
}
.separator-vertical {
    width: 0.7svh;
    border-radius: 1000px;
    box-shadow: #76cdff94 0 0 8px 2px;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-top: 1.1%;
    margin-bottom: 1.1%;
    transition: all 0.5s ease-in-out;
    height: 50svh;
}
.weather-modules {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90svw;
    justify-content: center;
}
.weather-container {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    margin: 1%;
    max-width: 500px;
}
.metar-text-block{
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    margin: 1%;
}

.weather-container.open {
    height: 100%;
}
.weather-details {
    transition: opacity 0.7s, height 0.7s ease-in-out;
}

.weather_item,
.weather_item div {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.7s, height 0.7s ease-in-out;
}

.weather-details.opend .weather_item,
.weather-details.opend .weather_item div {
    opacity: 1;
    height: auto;
}

.icao-input {
    display: flex;
    flex-direction: row; /* Change to column layout */
    align-items: flex-start; /* Align items to the start */
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #5cbcf2;
}

#icaoCode {
    font-family: 'Code';
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5cbcf2;
    border-radius: 5px;
    margin-right: 20px;
    width: 50%;
    font-size: 16px;
    color: #F6F4EB;
    background-color: #333333;
    transition: all 0.5s ease-in-out; 
}
.weather-item {
    opacity: 0;
    animation: append-animate 0.8s ease-in-out;
}
#loadWeatherBtn {
    font-family: 'Code';
    padding: 10px;
    border: 1px solid #5cbcf2;
    background-color: #5cbcf2;
    color: #1e1e1e;
    border-radius: 5px;
    margin-left: 20px;
    width: 50%;
    font-size: 16px;
    transition: all 0.3s ease-in-out; 
    /* padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #5cbcf2;
    color: #1e1e1e;
    border-radius: 5px;
    cursor: pointer;
    /* transition: background-color 0.3s; 
    font-size: 16px;
    margin-left: 20px; */
}

#loadWeatherBtn:hover {
    
    background-color: #87cefa;
    width: 95%;
    border-color: #559dc7; /* Green border color on focus */
    box-shadow: 0 0 7px #5cbbf2b8; /* Green box shadow on focus */
}
#icaoCode:focus {
    border-color: #559dc7; /* Green border color on focus */
    box-shadow: 0 0 9px #5cbbf2b8; /* Green box shadow on focus */
}

@keyframes append-animate {
    from { opacity: 0; }
    /* 50% { height: 50%; } */
    to { opacity: 1; }
  }