<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/canvas.png') }}"
      sizes="any"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='images/canvas.png') }}"
    />
  <title>Simple Drawing App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='canvas_styles.css') }}">
</head>
<body>
    <div class="container">
        <canvas id="drawingCanvas"></canvas>
        <div class="tools">
          <button onclick="usePencil()">Pencil</button>
          <button onclick="useEraser()">Eraser</button>
          <button onclick="clearCanvas()">Clear</button>
        </div>
      </div>
  <script src="{{ url_for('static', filename='canvas_script.js') }}"></script>
</body>
</html>
