<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="favicon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <title>EFB Simulator</title>
</head>
<head>


</head>
<body>
    <div class="welcome-overlay">
        <img
          class="welcome-picture"
          src="{{ url_for('static', filename='images/favicon.ico') }}"
        />
        <div class="welcome-text">Welcome to AeroNav EFB!</div>
    </div>
    <div class="header">
        <h5 id="timeutcDisplay"></h5>
        <h5>EFB For Simulators</h5>
        <h5 id="timeDisplay"></h5>
    </div>
    <div class="app-icon">
        <a href="/pdf_viewer" class="img_butt hover_item">
            <img src="{{ url_for('static', filename='images/charts_icon.png') }}" class="hover_item" alt="Charts Icon" >
            <!-- <div class="img_txt">AeroNav Pro</div> -->
        </a>
        <a href="/weather" class="img_butt hover_item">
            <img src="{{ url_for('static', filename='images/weather_icon.png') }}" class="hover_item" alt="Weather Icon" >
            <!-- <div class="img_txt">AeroWeather</div> -->
        </a>
        <a href="/ofp" class="img_butt hover_item">
            <img src="{{ url_for('static', filename='images/OFP.png') }}" class="hover_item" alt="Weather Icon" >
            <!-- <div class="img_txt">Flight <br>Information</div> -->
        </a>
        <a href="/canvas" class="img_butt hover_item">
            <img src="{{ url_for('static', filename='images/Canvas.png') }}" class="hover_item" alt="Weather Icon" >
            <!-- <div class="img_txt">Scrath Pad</div> -->
        </a>
        
</div>
<div class="footer">
    <div class="footer-block" onclick="location.href='https://github.com/AlexNetYT/'">
            My GitHub
    </div>
    <!-- <div class="footer-block" onclick="location.href='https://github.com/AlexNetYT/'">
            Caucasus FIR Discord
    </div> -->
    <div class="footer-block" >
        Designed and developed by AlexNet
    </div>
</div>
    <!-- Other content or modules can be added here -->
    <script type="text/javascript",  src="{{ url_for('static', filename='main_script.js') }}"></script>
</body>

</html>
