<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='weather_styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/weather_icon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/weather_icon.png') }}" />
    <title>AeroWeather</title>
</head>
<body>
    <a href="/" class="home-button">
        <img src="{{ url_for('static', filename='images/home.ico') }}" alt="Home">
    </a>
    <div class="weather-modules">
        <div class="weather-container">
            <h1>Weather Information</h1>
            <div class="icao-input">
                <input type="text" id="icaoCode" maxlength="4" placeholder="ICAO">
                <button id="loadWeatherBtn">Load Weather</button>
            </div>
            <div class="weather-details closed" id="weather-details-container">
                <!-- Weather details will be displayed here -->
            </div>
        </div>
        <div class="separator-vertical"></div>
        <div class="runways-container">
            <h1>Wind on Runway</h1>
            <div class="runway-indicator">
                <img src="{{ url_for('static', filename='images/compass-circle.svg')}}" id="compass-circle">
                <!-- <img src="https://metar-taf.com/images/rwy/day-0.svg" id="runway"> -->
                <img src="{{ url_for('static', filename='images/compass-arrow.svg')}}" id="compass-arrow">
            </div>
        </div>
    </div>
    <!-- <div class="metar-text-block" id="metar-text">
        aboba
    </div> -->
    <script src="{{ url_for('static', filename='weather_script.js') }}"></script>
</body>
</html>
